.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 1.5;
}

.co2allowanceline {
    fill: none;
    stroke: #E31212;
    stroke-dasharray: 3, 3;
}
		
.overlay {
  fill: none;
  pointer-events: all;
}

circle {
    fill: #ffab00;
    stroke: #ffab00;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightyellow;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

 /* Style the tab */
.slideNav {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.slideNav button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.slideNav button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.slideNav button.active {
  background-color: #ccc;
}

/* Style the tab content */
.scenetext {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 120px;
}

.co2SVG, .tempSVG, .glacierSVG, .sealevelSVG {
    width: 80vw;
    height: 70vh;
}

.co2annotate text {
    fill: #E31212;
}